<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Login Form</title>
</head>
<body>
    <div class="container">
        <div class="col-12 col-md-9">
            <h3>Login Page</h3>
            <form action="/home" method="POST">
                <div class="form-group row">
                        <label class="col-md-2 col-form-label" >Username : </label>
                        <div class="col-md-4">
                        <input class="form-control" name="uname" type ="text" placeholder="enter username" required/>
                        </div>
                </div>
                <div class="form-group row">
                        <label class="col-md-2 col-form-label" >Password : </label>
                        <div class="col-md-4">
                        <input  class="form-control" name="pass" type="password" placeholder="enter password" required>
                        <div>
                </div>
                <div class="form-group row"></div>
                <button class="btn btn-info" id="submitBtn" type="submit">Log In</button>
                </div>
            </form>  
        </div>    
    </div>
</body>
</html>