<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>userReport</title>
</head>
<body>
        <div class="container">
            <div class="col-12 col-md-9">
                <form action="/userReport" Method="POST">
                    <h3>User Report</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <!-- <th>S.No</th> -->
                                <th>Name</th>
                                <th>Student ID</th>
                                <th>Department</th>
                                <th>        </th>
                            </tr>
                        </thead>
                            <% students.forEach(function(student){ %>
                                <tr>
                                    <td ><%= student.name %></td>
                                    <td><%= student.studentId %></td>
                                    <td><%= student.dept %></td>
                                    <td> <button class="btn btn-danger" type="submit" name="delete" value="<%= student.id %>">DELETE</button></td>
                                </tr>
                            <% }); %>
                        <tbody>
                        </tbody>
                        
                    </table>
                </form>
            </div>
        </div>    
                
</body>
</html>