<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>UserInformation</title>
</head>
<body>
    <div class="container">
        <div class="col-12 col-md-9">
            <form action="/userInfo" method="POST">
                <h3>User Information</h3>
                <div class="form-group row">
                        <label class="col-md-2 col-form-label">Name : </label>
                        <div class="col-md-4">
                            <input name="name" type ="text" placeholder="enter Name" required/>
                        </div>
                        
                </div>
                
                <div class="form-group row">
                        <label class="col-md-2 col-form-label" >Student ID : </label>
                        <div class="col-md-4">
                            <input name="studentId" type ="text" placeholder="enter Student ID" required/>
                        </div>
                        
                </div>
                
                <div class="form-group row">
                        <label class="col-md-2 col-form-label" >Department : </label>
                        <div class="col-md-4">
                            <input name="dept" type ="text" placeholder="enter Department" required/>
                        </div>                        
                </div>
                    <button class="col-md-2 btn btn-warning btn-space" name="clear">Clear</button>
                    <button class="col-md-2 btn btn-primary btn-space" type="submit" name="addUser">Add a user</button>               
            </form>
        </div>
    </div>
</body>
</html>